<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jardineria Renacin</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/Logotipos/Logo.png'%}"/>
    <link rel="stylesheet" href="{% static 'css/Estilos.css' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet"> 
    <script src="{% static 'js/Funciones.js' %}"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    

</head>

<body>
    <!-- Fondo -->
<body background="{% static 'img/Imagenes/Color1.png'%}">

    <!-- Barra Superior Inicio -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
            <span class="navbar-toggler-icon"></span>
        </button>

    <!-- logo -->
    {% load static %}
    <a class="navbar-brand" href="#">
        <img src="{% static 'img/Logotipos/Logo.png'%}" width="30" height="30" alt="">
    </a>
    
    <!-- Menu -->
    <div class="collapse navbar-collapse" id="opciones">   
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="{% url 'inicio' %}" onmouseover="style.color = 'green'" onmouseout="style.color= 'grey'">Inicio </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'catalogo' %}" onmouseover="style.color = 'green'" onmouseout="style.color= 'grey'">Catalogo</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'galeria_cliente' %}" onmouseover="style.color = 'green'" onmouseout="style.color= 'grey'">Clientes</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'somos' %}" onmouseover="style.color = 'green'" onmouseout="style.color= 'grey'">Quienes Somos</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'contacto' %}" onmouseover="style.color = 'green'" onmouseout="style.color= 'grey'">Contacto</a>
          </li> 
          <li class="nav-item">
              <a class="nav-link" href="{% url 'utilidades' %}" onmouseover="style.color = 'green'" onmouseout="style.color= 'grey'">Utilidades</a>
          </li>

  
        

          {% if user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link" href="#" onmouseover="style.color = 'green'" onmouseout="style.color= 'grey'">|</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="{% url 'inventario' %}" onmouseover="style.color = 'green'" onmouseout="style.color= 'grey'">Productos</a>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'peticiones_contacto' %}" onmouseover="style.color = 'green'" onmouseout="style.color= 'grey'">Peticiones</a>
          </li>  
          <li class="nav-item">
              <a class="nav-link" href="{% url 'cliente' %}" onmouseover="style.color = 'green'" onmouseout="style.color= 'grey'">Cliente</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="#" onmouseover="style.color = 'green'" onmouseout="style.color= 'grey'">|</a>
          </li>

          <a class="nav-link" href="{% url 'logout' %}" onmouseover="style.color = 'green'" onmouseout="style.color= 'grey'">Cerrar Sesión</a>

          <li class="nav-item">
              <a class="nav-link" href="#" onmouseover="style.color = 'green'" onmouseout="style.color= 'grey'">|</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#" onmouseover="style.color = 'green'" onmouseout="style.color= 'grey'">Usuario: {{user.username}}</a>
          </li>
          {% else %}
          <li class="nav-item">
              <a class="nav-link" href="#" onmouseover="style.color = 'green'" onmouseout="style.color= 'grey'">|</a>
          </li> 
          <a class="nav-link" href="{% url 'login' %}" onmouseover="style.color = 'green'" onmouseout="style.color= 'grey'">Iniciar Sesión</a>
          {% endif %}
          <li class="nav-item">
              <a class="nav-link" href="#" onmouseover="style.color = 'green'" onmouseout="style.color= 'grey'">|</a>
          </li>
          
      </ul>
  </div>
    </nav>
    <!-- Barra Superior Final -->

    {% load static %}
  <!-- Fotos en formato etiqueta Inicio -->
 
  <br>
<div class="container ColorContacto2" >
  <div class="CentroGaleria ">
    <h1 class="ColorGaleria3">Nuestro Clientes</h1>  
  </div>
  <div class="container fliud ColorGaleria">
    <div class="card-deck">
      <div class="col-md">
        <br>
        <br>
        <div class="card ColorGaleria2">
          <img class="card-img-top" src="{% static 'img/Clientes/R.png'%}" class="rounded">
          <div class="card-body">
            
            <p class="card-text">Rodrigo Dias</p>
            <p class="card-text">Gracias el producto llego en muy buen estado</p>
            
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="col-md ">
        <br>
        <br>
        <div class="card ColorGaleria2">
          <img class="card-img-top" src="{% static 'img/Clientes/S.png'%}" class="rounded">
          <div class="card-body">

            <p class="card-text">Sandra Perez</p>
            <p class="card-text">Rapido y Directo , Recomiendo esta tienda. !</p>
            
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="col-md ">
        <br>
        <br>
        <div class="card ColorGaleria2">
          <img class="card-img-top" src="{% static 'img/Clientes/R1.png'%}" class="rounded">
          <div class="card-body">

            <p class="card-text">Rosa Rodrigez</p>
            <p class="card-text">Producto en perfecto estado y probado , muchas gracias por el producto</p>
            
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="card-deck">
      <div class="col-md">
        <br>
        <br>
        <div class="card ColorGaleria2">
          <img class="card-img-top" src="{% static 'img/Clientes/J.png'%}" class="rounded">
          <div class="card-body">

            <p class="card-text">Javiera Muños</p>
            <p class="card-text">Gracias me llego antes de las 24 horas.</p>

          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="col-md ">
        <br>
        <br>
        <div class="card ColorGaleria2">
          <img class="card-img-top" src="{% static 'img/Clientes/C.png'%}" class="rounded">
          <div class="card-body">

            <p class="card-text">Constanza Alexander </p>
            <p class="card-text">Tienda 100% Recomendada.</p>

          </div>
        </div>
        <br>
        <br>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="col-md ">
        <br>
        <br>
        <div class="card ColorGaleria2">
          <img class="card-img-top" src="{% static 'img/Clientes/S2.png'%}" class="rounded">
          <div class="card-body">

            <p class="card-text">Stefany Gundi </p>
            <p class="card-text">Excelente Precios y Productos de buena Calidad!</p>

          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
  <br>
  <br>
  <br>
  <br>
<!-- Fotos en formato etiqueta Final -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  






  <!-- Footer -->
  <footer>
    <div class="row col-12">  
        <div class="col-lg-2">
          <strong> Redes Sociales</strong>
            <div class="center-block">
              <a href="#"><img  src="{% static 'img/Logotipos/Facebook.png'%}"  alt="" width="30px" height="30px" style=" margin-left: 15px;">  </a>
              <a href="#"><img  src="{% static 'img/Logotipos/Instagram.png'%}" alt="" width="30px" height="30px" style=" margin-left: 10px;">  </a>
              <a href="#"><img  src="{% static 'img/Logotipos/TikTok.png'%}"    alt="" width="30px" height="30px" style=" margin-left: 10px;">  </a>
            </div>
        </div>
            <div class="col-lg-3">
                <strong>Integrantes</strong>
                <P>Sebastian Poblete - Camilo Nieto </P>
                <p>&copy; Empresa - 2022</p>
            </div>
        </div>
  </footer>
</body>
</html>